@using Com.EzTender.Common
@using Com.EzTender.ViewModels.Common
@using Com.EzTender.ViewModels.Sys_Setting_Code
@model ResponseBase<PagedViewModel<VM_Sys_Setting_Code>>

@{
    ViewData["Title"] = "Home Page";
}

<div class="block-header">
    <h2>BLANK / SAMPLE PAGE</h2>
</div>

<!-- Basic Alerts -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    BASIC ALERTS
                    <small>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">

                @foreach(var item in Model.ResultObject.Records)
                {
                    <div class="alert alert-success">
                        <strong>@item.Name</strong> 
                        @item.Description
                    </div>
                }

            </div>
        </div>
    </div>
</div>
