
@{
    ViewData["Title"] = "Create";
}

<div class="block-header">
    <h2>Prepare Request for Quotation</h2>
</div>
<!-- Input -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    General Information
                    @*<small>Different sizes and widths</small>*@
                </h2>
                @*<ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>*@
            </div>
            <div class="body">
                @*<h2 class="card-inside-title">Information</h2>*@
                <div class="row clearfix">
                    <div class="col-sm-10">
                        <label for="quote_no">RFQ Reference</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="quote_no" readonly class="form-control" placeholder="<Auto Generate by System>">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="status">Status</label>
                        <h4><span class="label label-info">New</span></h4>
                    </div>
                    <div class="col-sm-6">
                        <label for="quote_no">Internal Reference No</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="quote_no" readonly class="form-control" placeholder="Internal Reference">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="quote_no">Internal Project Name</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="quote_no" readonly class="form-control" placeholder="Internal Reference">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- #END# Input -->
<!-- Tabs -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#basic_requirements" data-toggle="tab">Basic Requirements</a></li>
                    <li role="presentation"><a href="#detailed_requirements" data-toggle="tab">Detailed Requirements</a></li>
                    <li role="presentation"><a href="#service_level_agreement" data-toggle="tab">Service Level Agreement</a></li>
                    <li role="presentation"><a href="#penalty" data-toggle="tab">Penalty / Liquidated Damagees</a></li>
                    <li role="presentation"><a href="#invited_suppliers" data-toggle="tab">Invited Suppliers</a></li>
                    <li role="presentation"><a href="#attachments" data-toggle="tab">Attachments</a></li>
                    <li role="presentation"><a href="#settings" data-toggle="tab">User Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basic_requirements">

                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <label for="quote_no">Start RFQ Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quote_no" readonly class="form-control datepicker" placeholder="Internal Reference">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="quote_no">Start RFQ Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quote_no" readonly class="form-control datepicker" placeholder="Internal Reference">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="quote_no">Estimated Project Start Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quote_no" readonly class="form-control datepicker" placeholder="Start of Project Delivery">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="quote_no">Estimated Project End Date</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="quote_no" readonly class="form-control datepicker" placeholder="End of Project Delivery">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <input type="checkbox" id="md_checkbox_material" class="chk-col-red" checked />
                                <label for="md_checkbox_material">Supplier to Provide Materials</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="checkbox" id="md_checkbox_transport" class="chk-col-red" checked />
                                <label for="md_checkbox_transport">Supplier to Provide Transport</label>
                            </div>
                            <div class="col-sm-6">
                                &nbsp;
                            </div>

                            <div class="col-sm-12">
                                <label for="quote_no">Messages to Suppliers</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="3" class="form-control no-resize"></textarea>
                                        <label class="form-label">Messages to Suppliers</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="detailed_requirements">

                        <table id="requirementsTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="30%">Service Name</th>
                                    <th width="50%">Description</th>
                                    <th width="10%">Quantity</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Car</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Bike</td>
                                    <td>330</td>
                                    <td>240</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Plane</td>
                                    <td>430</td>
                                    <td>540</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Yacht</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Segway</td>
                                    <td>330</td>
                                    <td>240</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><strong>TOTAL</strong></th>
                                    <th>1290</th>
                                    <th>1420</th>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="service_level_agreement">

                        <table id="slaTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="30%">Requirement</th>
                                    <th width="65%">Description</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Car</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Bike</td>
                                    <td>330</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Plane</td>
                                    <td>430</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Yacht</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Segway</td>
                                    <td>330</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th><strong>TOTAL</strong></th>
                                        <th>1290</th>
                                        <th>1420</th>
                                        <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                    </tr>
                                </tfoot>*@
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="penalty">

                        <table id="penaltyTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="30%">Breach of Service Definition</th>
                                    <th width="20%">Penalty</th>
                                    <th width="45%">Description</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Car</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>Bike</td>
                                    <td>330</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Plane</td>
                                    <td>430</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Yacht</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                                <tr>
                                    <td>Segway</td>
                                    <td>330</td>
                                    <td>100</td>
                                    <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                </tr>
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th><strong>TOTAL</strong></th>
                                        <th>1290</th>
                                        <th>1420</th>
                                        <td><button type="button" class="btn btn-danger waves-effect">Remove</button></td>
                                    </tr>
                                </tfoot>*@
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="invited_suppliers">
                        <table id="penaltyTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="95%">Supplier Information</th>
                                    <th width="*">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Car</h5>
                                        <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                        <p class="m-t-15 m-b-30">
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Train</h5>
                                        <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                        <p class="m-t-15 m-b-30">
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Plane</h5>
                                        <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                        <p class="m-t-15 m-b-30">
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Yacht</h5>
                                        <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                        <p class="m-t-15 m-b-30">
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Segway</h5>
                                        <small>Different sizes and widths</small> <span class="label label-warning">Un-verified</span>
                                        <p class="m-t-15 m-b-30">
                                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                        </p>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="attachments">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                                    <div class="dz-message">
                                        <div class="drag-icon-cph">
                                            <i class="material-icons">touch_app</i>
                                        </div>
                                        <h3>Drop files here or click to upload.</h3>
                                        <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
                                    </div>
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="attachmentTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="25%">File Name</th>
                                    <th width="70%">Description</th>
                                    <th width="*">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>File 1.pdf</th>
                                    <td>File 1 Description</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <th>File 2.pdf</th>
                                    <td>File 2 Description</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <th>File 3.pdf</th>
                                    <td>File 3 Description</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <th>File 4.pdf</th>
                                    <td>File 4 Description</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <th>File 5.pdf</th>
                                    <td>File 5 Description</td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="settings">
                        <table id="userSettingTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="95%">Accessible User(s)</th>
                                    <th width="*">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Tuan Tong</h5>
                                        <span class="label bg-deep-purple">Admin</span> <span class="label label-success">Read / Write</span> <span class="label bg-deep-orange">Approve (publish)</span> <span class="label bg-cyan">Approve (procurement)</span>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Yin Loong</h5>
                                        <span class="label bg-deep-purple">Owner</span> <span class="label label-success">Read / Write</span> <span class="label bg-deep-orange">Approve (publish)</span>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Ryan</h5>
                                        <span class="label bg-deep-purple">Collaborator</span> <span class="label label-success">Read / Write</span>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Alex</h5>
                                        <span class="label bg-deep-purple">Reviewer</span> <span class="label label-warning">Read</span> <span class="label bg-cyan">Approve (procurement)</span>
                                    </td>
                                    <th><button type="button" class="btn btn-danger waves-effect">Remove</button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Quotations-->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Quotations
                    @*<small>Different sizes and widths</small>*@
                </h2>
                @*<ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>*@
            </div>
            <div class="body">
                <table id="penaltyTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="90%">Quotation Information</th>
                            <th width="*">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>Company: Car</h5>
                                <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                <p class="m-t-15 m-b-30">
                                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                </p>
                            </td>
                            <th>
                                <button type="button" class="btn btn-danger waves-effect">View</button>
                                <br/><br />
                                <button type="button" class="btn btn-success waves-effect">Award</button>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h5>Train</h5>
                                <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                <p class="m-t-15 m-b-30">
                                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                </p>
                            </td>
                            <th>
                                <button type="button" class="btn btn-danger waves-effect">View</button>
                                <br /><br />
                                <button type="button" class="btn btn-success waves-effect">Award</button>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h5>Plane</h5>
                                <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                <p class="m-t-15 m-b-30">
                                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                </p>
                            </td>
                            <th>
                                <button type="button" class="btn btn-danger waves-effect">View</button>
                                <br /><br />
                                <button type="button" class="btn btn-success waves-effect">Award</button>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h5>Yacht</h5>
                                <small>Different sizes and widths</small> <span class="label label-success">Verified</span>
                                <p class="m-t-15 m-b-30">
                                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                </p>
                            </td>
                            <th>
                                <button type="button" class="btn btn-danger waves-effect">View</button>
                                <br /><br />
                                <button type="button" class="btn btn-success waves-effect">Award</button>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h5>Segway</h5>
                                <small>Different sizes and widths</small> <span class="label label-warning">Un-verified</span>
                                <p class="m-t-15 m-b-30">
                                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                </p>
                            </td>
                            <th>
                                <button type="button" class="btn btn-danger waves-effect">View</button>
                                <br /><br />
                                <button type="button" class="btn btn-success waves-effect">Award</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Editable Table Plugin Js -->
<script src="~/material_theme/plugins/editable-table/mindmup-editabletable.js"></script>
<script src="~/material_theme/js/pages/tables/editable-table.js"></script>
<!-- Moment Plugin Js -->
<script src="~/material_theme/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/material_theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Input Mask Plugin Js -->
<script src="~/material_theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- Autosize Plugin Js -->
<script src="~/material_theme/plugins/autosize/autosize.js"></script>
<!-- Custom Js -->
<script src="~/material_theme/js/pages/forms/basic-form-elements.js"></script>
<!-- Dropzone Css -->
<link href="~/material_theme/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Dropzone Plugin Js -->
<script src="~/material_theme/plugins/dropzone/dropzone.js"></script>